body {
    background-color: rgb(31, 33, 51);
}

h1 {
    color:white;
    text-align: left;
}

table, th, td {
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

label {
    color: white;
    text-align: left;
    display: block;
}

input {
    display: block;
}

a {
    display: block;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    width: fit-content;
    text-decoration: none;
}

form {
    text-align: center;
    display: block;
}