<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="landingpage">
        <title>Itemlist</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Itemlist</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Itemname</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <th><a class="linked" href="/update/{{.Id}}">{{.Id}}</a></th>
                    <th>{{.Item_name}}</th>
                    <th>{{.Item_category}}</th>
                    <th>{{.Item_amount}}</th>
                    <th>
                        <form action="/" method="POST">
                            <input type="hidden" value="{{.Id}}" name="delete">
                            <input type="submit" value="X">
                        </form>
                    </th>
                </tr>
                {{end}}
            </tbody>
        </table>
        <a class="normal" href="/create">Create new Item</a>
    </body>
</html>