<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="landingpage">
        <title>Itemlist</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Itemlist</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Itemname</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <th>{{.ID}}</th>
                    <th>{{.Item_Name}}</th>
                    <th>{{.Item_Category}}</th>
                    <th>{{.Item_Amount}}</th>
                </tr>
                {{end}}
            </tbody>
        </table>
        <a href="/create">Create new Item</a>
    </body>
</html>